.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    justify-content: flex-start;
}

.dashboard-chart {
    flex: 1 1 200px;
    /* largeur flexible, minimum 200px */
    max-width: 250px;
    /* taille maximale réduite pour compacter le Doughnut */
    position: relative;
}

.doughnut-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: none;
}

.doughnut-center h2 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.doughnut-center p {
    margin: 0;
    font-size: 10px;
    /* réduit la taille du texte "Équipements" */
}

.doughnut-title {
    text-align: center;
    font-size: 14px;
    /* taille du titre réduite */
    margin-bottom: 8px;
    font-weight: 500;
}