body {
    margin: 0;
}

.dashboard {
    display: flex;
    height: 100vh;
}


/* SIDEBAR */

.sidebar {
    width: 250px;
    background: #1e3a5f;
    color: white;
    padding: 20px 15px;
    box-sizing: border-box;
}

.logo {
    margin-bottom: 40px;
}

.menu li {
    list-style: none;
    margin: 15px 0;
    cursor: pointer;
}

.menu .active {
    font-weight: bold;
}


/* MAIN */

.main {
    flex: 1;
    background: #f5f7fa;
}


/* HEADER */

.header {
    background: #2f5d8a;
    color: white;
    padding: 6px 15px;
    display: flex;
    align-items: center;
    height: 50px;
}

.sidebar {
    height: 100vh;
}


/* CONTENT */

.content {
    padding: 10px;
}


/* TABLE */

.table-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.inspection-table {
    width: 100%;
    border-collapse: collapse;
}

.inspection-table th,
.inspection-table td {
    border: 1px solid #ddd;
    padding: 8px;
}


/* PAGINATION */

.pagination {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.sidebar.collapsed {
    width: 60px;
}

.sidebar.collapsed img {
    width: 40px;
}

.sidebar.collapsed img {
    width: 40px;
}


/* ✅ OK = Vert */

.etat-ok {
    border-color: #27ae60;
    background-color: #d4edda;
    color: #1e8449;
}


/* ❌ HS = Rouge */

.etat-hs {
    border-color: #e74c3c;
    background-color: #f8d7da;
    color: #c0392b;
}